<h1 class="fs-1">Stupid coaching</h1>
<h2 class="fs-2">Ask your coach anything:</h2>
<form action="/answer" data-turbo="false">
  <div class="input-group">
    <input type="text" name="answer" class="form-control" id="inlineFormInputGroupUsername">
      <div>
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
  </div>
</form>
